.container-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 80%; 
    height: 30vh;
    margin: 30px;
    padding: 10px;
    border: solid 3px var(--color-primary);
    border-radius: 0% 50px 50px 0%;
    transition: all 0.3s ease;
    cursor: pointer; 
}
.container-card:hover{
    scale:1.05;
    box-shadow: 0px 0px 20px var(--color-primary);
}
.card-img{
    min-width: 200px;
    width: 30%;
    max-width: 200px;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
} 

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.info h2{
    color: var(--color-primary);
}

.info p{
    color: var(--text-secondary);
    font-size: clamp(12px, 2vw, 18px);
}
/* }
.developer-card{
    width: 200px;
    height: 150px;
} */