html{
    overflow-x: hidden;
}
body{
    background:linear-gradient(var(--bg-secondary), var(--bg-primary));
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
}
